<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dictons | Nouveau dicton</title>
  </head>
  <body>
    <h1>Créer un dicton</h1>
    <form method="POST">
      <input type="text" name="dicton" />
      <button>Nouveau dicton</button>
    </form>
  </body>
</html>
